.cc-navbar{
    background-color: rgba(0,0,0,0.55);
    box-shadow: 1px 1px 3px rgba(255,255,255,0.54);
    z-index: 99;
}

.cc-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal) ;
}

.banner{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./images/imag0699-largejpg.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 800px;
}

.banner .banner-desc{
    font-size: 50px;
    font-weight: 400;
    color:white;
}

.cc-menu{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./images/imag0699-largejpg.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 1600px;
}

.btn-order{
    color:var(--bs-teal);
    border-color:var(--bs-teal);
    transition: 0.5s;
   
}

.btn-order:hover,
.btn-order:active{
    color: white;
    background-color: var(--bs-teal);
}

